:root {
  --md-primary-fg-color:        #0033a0;
  --md-primary-fg-color--light: #009cde;
  --md-primary-fg-color--dark:  #0072ce;
}

p {
  text-align: justify;
  text-justify: inter-word;
}

.md-typeset .admonition {
  font-size: 15px;
}

.md-typeset a {
  font-weight: bold;
  color: #2b6cb0;
}

.md-grid {
  max-width: 1012px;
}

.md-typeset {
  line-height: 1.5;
  font-size: 15px;
}

.md-typeset h1,
.md-typeset h2,
.md-typeset h3 {
  color: black;
  font-weight: bold;
}

.md-typeset h1 {
  margin-bottom: -0.5em;
}

.md-typeset ul,
.md-typeset ol {
  line-height: 1.5;
}

.md-typeset mark {
  color: #2E7D32;
  background-color: #E8F5E9; 
  font-weight: bold;
}

.md-typeset ins {
  text-decoration: None;
  font-style: normal;
  font-weight: bold;
  color: #C62828;
}

.md-typeset ins.critic {
  color: #6A1B9A;             
  background-color: #F3E5F5; 
}

.md-footer__title {
  font-size: 15px;
}

.md-typeset table:not([align]) {
  font-size: 90%;
}

.md-typeset hr {
  border: 0; 
  height: 1px; 
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), #0033a0, rgba(0, 0, 0, 0));
  margin: 1em 0; 
}